body {
    background-color: rgb(240, 240, 240);
    font-family: 'Montserrat', sans-serif;
}

.container {
  margin: 2rem;
  padding-top: 2vh;
}

h1 {
  color: #a34adf;
}

h2 {
  color: gold;
  -webkit-text-fill-color: gold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 690px) {
  .container {
    padding-top: 1vh;
  }
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 4rem;
    -webkit-text-stroke-width: 1.5px;
  }
}
